.dtable-humap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.tableHumap {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 100;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #808070;
}

.tableHumap tr {
  height: 50px;
  font-weight: bolder;
}

.tableHumap td {
  text-align: center;
}

.tableHumap td,
.tableHumap th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableHumap tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableHumap th {
  padding-top: 12px;
  height: 60px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #9c9c9c;
  text-shadow: 2px 6px 2px rgba(11, 26, 40, 0.58);
  color: white;
}
.tableHumap td:nth-child(1) {
  width: 3%;
}

.tableHumap td:nth-child(2) {
  width: 10%;
}

.tableHumap td:nth-child(7) {
  width: 15%;
}
